ul li:nth-child(2n){
    color: green;
}

ul li:nth-child(3){
    background: lightblue;
}

ul li:first-child{
    border-top: 1px solid green;
}

ul li:last-child{
    border-bottom: 5px dashed blue;
}

li:nth-child(3) > a, li:nth-child(5) > a {
    color:red;
}

li > a:hover:nth-of-type(5){
    color: grey;
}

ul li:nth-child(2){
    list-style-type: none;
}

ul li:nth-child(5){
    list-style-type: none;
}

input:focus{
    background-color: grey;
}

input type[submit]:hover{
    color: red;
}

